.searchPopWrap {
  position: relative;
  height: 40px;
  z-index: 99;

  .popBox {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    top: 0;
    overflow: hidden;

    .popTitle {
      background: rgba(0, 0, 0, .15);
      padding: 9px 12px 10px;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: normal;
      overflow-wrap: normal;
      text-align: left;
      color: rgb(28, 30, 33);
      font-weight: bold;
    }

    .popMain {
      padding: 12px;
    }
    .popFooter {
      margin-top: 15px;
      text-align: right;
    }
  }
}
