.searchPopWrap {
  position: relative;
}

.popTitle {
  background: rgba(0, 0, 0, .15);
  padding: 9px 12px 10px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
  font-weight: bold;
}

.popBox {
  .popMain {

  }
  .popFooter {
    margin-top: 15px;
    text-align: right;
  }
}

.popShowBox {
  height: 30px;
  margin-right: 10px;

  .popName {
    background-color: rgba(0, 0, 0, .05);
    padding: 0 10px;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0,0,0,0.1);;
    }
  }
  .popCancel {
    border-radius: 0 8px 8px 0;
    background-color: rgba(0, 0, 0, .1);
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0,0,0,0.15);;
    }
  }

}
