.adReportWrap {
  padding: 16px 24px 24px;
  height: 100%;

  .adReportHeaderBox {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .adReportBox {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 8px;
  }
}
