.popSelect {
  width: 200px;
}

.adPopBox {
  flex-direction: column;
  align-items: start;
}

.checkedPop {
  display: flex;
  flex-direction: column;
  :global {
    .ant-checkbox-group-item {
      margin-left: 8px;
    }
  }
}
