.sortableBox {
  display: flex;
  flex-direction: row;
  //overflow-x: scroll;
  width: max-content;
}

.sortableItem {
  width: 120px;
  padding: 8px 10px;
  border: 1px solid #dadcde;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  z-index: 99;
}

.tableHeaderBox {
  width: 100%;
  overflow: hidden;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 40px;

  .groupHeader {
    background-color: #e6f4ff;
    position: absolute;
    z-index: 9;
    border-right: 1px solid;
  }
  .targetHeader {
    width: 100%;
    overflow-x: scroll;
    position: absolute;
    z-index: 1;
  }
}
