.sortableItem, .sortableTargetItem {
  min-width: 100px;
  padding: 6px !important;
  //border: 1px solid #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  z-index: 99;
  //background: #fafafa;
  background: #00bba6;
  border-bottom: 1px solid #f0f0f0;
  border-inline-end: 1px solid #f0f0f0;
  text-align: center !important;
  user-select: unset;
}

.sortableDragIcon {
  cursor: move;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  height: 100%;
  padding: 0 4px 0 2px;
}

.sortableName {
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding-left: 6px;
}

.sortableSortIcon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  font-size: 14px;
  color: #1ab394;
}

.sortableItem {
  z-index: 100;
}

//@for $i from 1 through 14 {
//  .sortableItem:nth-child(#{$i}) {
//    left: 120.5px * ($i - 1);
//  }
//}

.tableBox {
  min-height: 600px;

  .antTableRowIndex {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    text-align: center;
  }

  :global {
    .ant-table-thead > tr > th {
      background: rgba(236, 236, 236, 0.98);
      padding: 8px 12px;
      //  display: flex;
      //  flex-direction: row;
      position: sticky;
      border-bottom: 1px solid #ddd;
      border-inline-end: 1px solid #ddd !important;
      user-select: none;
      height: 36px;

      &[data-title = 'group'] {
        border-right: 3px solid #ddd !important;
      }
    }

    .ant-table-cell {
      vertical-align: top;
      font-size: 12px;
    }

    .ant-table-row:hover > td {
      background-color: #ddd !important;
    }

    .ant-table-tbody > tr > td {
      padding: 0 !important;
      border-bottom: 1px solid #ddd;
      border-inline-end: 1px solid #ddd !important;
    }

    .ant-typography {
      font-size: 12px;
    }
  }
}

.tbodyThItem {
  height: 30px;
  line-height: 30px;
  text-align: center;
  //background-color: #fafafa;
}
.tdTag, .tdTagNormal {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tdTag {
  margin-bottom: 4px;
}

.tbodyTdItem, .tbodyTdItemLast, .tbodyTdItemLast2 {
  cursor: pointer;
  font-weight: 500;
  font-size: 0;
  padding: 4px;
  max-width: 240px;
  text-align: center;
  min-height: 30px;
}

.tbodyTdItemLast {
  //border-right: 2px solid #ddd;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #ddd;
  }
}

.tbodyTdTarget {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.summaryTotal {
  border-right: 3px solid #ddd !important;
}
