.sortableItem, .sortableTargetItem {
  min-width: 120px;
  padding: 8px 12px !important;
  //border: 1px solid #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  z-index: 99;
  //background: #fafafa;
  background: #c8ecff;
  border-bottom: 1px solid #f0f0f0;
  border-inline-end: 1px solid #f0f0f0;
  text-align: center !important;
  cursor: move;
}

.sortableItem {
  z-index: 100;
}

@for $i from 1 through 14 {
  .sortableItem:nth-child(#{$i}) {
    left: 160px * ($i - 1) ;
  }
}

.tableBox {

  :global {
    .ant-table-thead >tr>th {
      background: rgba(243, 243, 243, 0.58);
      padding: 8px 12px;
    //  display: flex;
    //  flex-direction: row;
      position: sticky;
    }

    .ant-table-cell {
      vertical-align: baseline;
    }
  }
}
